<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139382417-7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-139382417-7');
    </script>
    <title>心を動かす名言アプリ</title>
    <meta name="description" content="あなたの心を動かした言葉はなんですか？いい言葉はその人の経験から生まれたもので、他人に気づきを与えてくれます。そんな名言をぜひ登録して共有してください。">
    <meta name="viewport" content="width=device-width">
    <%# Favicon %>
    <%= favicon_link_tag('favicon.ico') %>
    <%# shortcut icon%>
    <link rel="apple-touch-icon-precomposed apple-touch-icon" sizes="65x65" href="asset_url('apple-touch-icon-precomposed.png')">
    <%# Twitter Card %>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@Juno1140"/>
    <%# OGP %>
    <meta property="og:url" content="https://app-meigen.herokuapp.com">
    <meta property="og:title" content="心を動かす名言アプリ">
    <meta property="og:description" content="あなたの心を動かした言葉はなんですか？いい言葉はその人の経験から生まれたもので、他人に気づきを与えてくれます。そんな名言をぜひ登録して共有してください。">
    <meta property="og:image" content="<%= asset_url('apple-touch-icon.png') %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# Font Awesome %>
    <%= stylesheet_link_tag    'css/all', media: 'all'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header data-turbolinks="false">
      <nav>
        <%= link_to "/" do %>
          <i class="fas fa-home fa-2x"></i><div class="menu">HOME</div>
        <% end %>
        <%= link_to "/posts/index" do %>
          <i class="fas fa-plus fa-2x"></i><div class="menu">NEW</div>
        <% end %>
        <%= link_to "/list/personList" do %>
          <i class="fas fa-bars fa-2x"></i><div class="menu">LIST</div>
        <% end %>
      </nav>
    </header>
    <main>
      <div class="flash">
        <% if flash[:notice] %>
          <div class="notice">
            <%= flash[:notice] %>
          </div>
        <% end %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>