<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139382417-7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-139382417-7');
    </script>
    <title>名言</title>
    <meta name="description" content="あなたの心を動かした言葉はなんですか？いい言葉はその人の経験から生まれたもので、他人に気づきを与えてくれます。そんな名言をぜひ登録して共有してください。">
    <meta name="viewport" content="width=device-width">
    <%# Google Font %>
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
    <%# Font Awesome %>
    <link href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" rel="stylesheet">
    <%# Favicon %>
    <%= favicon_link_tag('favicon.ico') %>
    <%# Twitter Card %>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@Juno1140"/>
    <%# OGP %>
    <meta property="og:url" content="https://app-meigen.herokuapp.com">
    <meta property="og:title" content="名言">
    <meta property="og:description" content="あなたの心を動かした言葉はなんですか？いい言葉はその人の経験から生まれたもので、他人に気づきを与えてくれます。そんな名言をぜひ登録して共有してください。">
    <meta property="og:image" content="https://app-meigen.herokuapp.com/images/ogpimage.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav data-turbolinks="false">
        <%= link_to "/" do %>
          <i class="fas fa-home fa-2x"></i><div id="home">HOME</div>
        <% end %>
        <%= link_to "/posts/index" do %>
          <i class="fas fa-plus fa-2x"></i><div id="new">NEW</div>
        <% end %>
        <%= link_to "/list/personList" do %>
          <i class="fas fa-stream fa-2x"></i><div id="list">LIST</div>
        <% end %>
      </nav>
    </header>
    <main>
      <div class="flash">
        <% if flash[:notice] %>
          <div class="notice">
            <%= flash[:notice] %>
          </div>
        <% end %>
      </div>
      
      <section>
        <%= yield %>
      </section>
    </main>
    <footer>このアプリケーションはスマホ専用です。スマホサイズで開いてください。</footer>
  </body>
</html>
